<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="ServiceBehavior">
                    <serviceDebug includeExceptionDetailInFaults="true" />
                    <serviceMetadata />
                </behavior>
            </serviceBehaviors>
        </behaviors>

        <bindings>
            <wsDualHttpBinding>
                <binding name="wsDualHttpBindingConfiguration"
                         closeTimeout="0:00:10" openTimeout="0:00:10"
                         receiveTimeout="0:00:10" sendTimeout="0:00:10" >
                </binding>
            </wsDualHttpBinding>
            <netTcpBinding>
                <binding name="netTcpBindingConfiguration"
                         closeTimeout="0:00:10" openTimeout="0:00:10"
                         receiveTimeout="0:00:10" sendTimeout="0:00:10" >
                </binding>
                <!-- 
                Note: receiveTimeout controls how long the server will maintain the client callback 
                connection without any activity.
                It is set to 0:01:45 to make these issues appearent; production code could employ 
                some pinging or reconnection sheme, and/or use a higher value for the timeout.
                -->
                <binding name="netTcpBindingConfigurationSubscriptionService"
                       closeTimeout="0:00:10" openTimeout="0:00:10"
                       receiveTimeout="0:01:45" sendTimeout="0:00:10" >
                </binding>
            </netTcpBinding>
        </bindings>

        <services>
            <!-- tcp/ip endpoints -->
            <service name="AJ.DuplexService.Information.InformationServiceNetTcp"
                     behaviorConfiguration="ServiceBehavior" >
                <endpoint address=""
                          binding="netTcpBinding" bindingConfiguration="netTcpBindingConfiguration"
                          contract="AJ.DuplexService.Information.IInformationService" />
                <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost:9000/ajdotnet.duplexservice/information" />
                    </baseAddresses>
                </host>
            </service>
            <service name="AJ.DuplexService.Subscriptions.SubscriptionServiceNetTcp"
                     behaviorConfiguration="ServiceBehavior" >
                <endpoint address=""
                          binding="netTcpBinding" bindingConfiguration="netTcpBindingConfigurationSubscriptionService"
                          contract="AJ.DuplexService.Subscriptions.ISubscriptionService" />
                <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost:9001/ajdotnet.duplexservice/subscriptions" />
                    </baseAddresses>
                </host>
            </service>

            <!-- HTTP endpoints 
                netsh http add urlacl url=http://+:9010/ajdotnet.duplexservice user=%USERDOMAIN%\%USERNAME%
                netsh http add urlacl url=http://+:9011/ajdotnet.duplexservice user=%USERDOMAIN%\%USERNAME%
                netsh http delete urlacl url=http://+:9010/ajdotnet.duplexservice
                netsh http delete urlacl url=http://+:9011/ajdotnet.duplexservice
                -->
            <service name="AJ.DuplexService.Information.InformationServiceHttp"
                     behaviorConfiguration="ServiceBehavior" >
                <endpoint address=""
                          binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBindingConfiguration"
                          contract="AJ.DuplexService.Information.IInformationService" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:9010/ajdotnet.duplexservice/information" />
                    </baseAddresses>
                </host>
            </service>
            <service name="AJ.DuplexService.Subscriptions.SubscriptionServiceHttp"
                     behaviorConfiguration="ServiceBehavior" >
                <endpoint address=""
                          binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBindingConfiguration"
                          contract="AJ.DuplexService.Subscriptions.ISubscriptionService" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:9011/ajdotnet.duplexservice/subscriptions" />
                    </baseAddresses>
                </host>
            </service>
        </services>

    </system.serviceModel>
</configuration>