<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="endpointBehavior">
                    <callbackDebug includeExceptionDetailInFaults="true"/>
                </behavior>
            </endpointBehaviors>
        </behaviors>

        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IInformationService" closeTimeout="00:00:10"
                    openTimeout="00:00:10" receiveTimeout="00:00:10" sendTimeout="00:00:10" />
                <binding name="NetTcpBinding_ISubscriptionService" closeTimeout="00:00:10"
                    openTimeout="00:00:10" receiveTimeout="00:00:10" sendTimeout="00:00:10" >
                </binding>
            </netTcpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IInformationService" closeTimeout="00:00:10"
                    openTimeout="00:00:10" receiveTimeout="00:00:10" sendTimeout="00:00:10" />
                <binding name="WSDualHttpBinding_ISubscriptionService" closeTimeout="00:00:10"
                    openTimeout="00:00:10" receiveTimeout="00:00:10" sendTimeout="00:00:10" >
                </binding>
            </wsDualHttpBinding>
        </bindings>

        <client>
            <endpoint name="NetTcpBinding_IInformationService" behaviorConfiguration="endpointBehavior"
                      address="net.tcp://localhost:9000/ajdotnet.duplexservice/information"
                      binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IInformationService"
                      contract="InformationServiceReferenceNetTcp.IInformationService" />
            <endpoint name="NetTcpBinding_ISubscriptionService" behaviorConfiguration="endpointBehavior"
                      address="net.tcp://localhost:9001/ajdotnet.duplexservice/subscriptions"
                      binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISubscriptionService"
                      contract="SubscriptionsServiceReferenceNetTcp.ISubscriptionService" />
            <endpoint name="WSDualHttpBinding_IInformationService" behaviorConfiguration="endpointBehavior"
                      address="http://localhost:9010/ajdotnet.duplexservice/information"
                      binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IInformationService"
                      contract="InformationServiceReferenceHttp.IInformationService" />
            <endpoint name="WSDualHttpBinding_ISubscriptionService" behaviorConfiguration="endpointBehavior"
                      address="http://localhost:9011/ajdotnet.duplexservice/subscriptions"
                      binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ISubscriptionService"
                      contract="SubscriptionsServiceReferenceHttp.ISubscriptionService" />
        </client>
    </system.serviceModel>
</configuration>
